:host(.participant) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: calc(var(--height-participant) - var(--width-border-participant));
  background-color: var(--color-participant-background);
  border: var(--width-border-participant) solid var(--color-border-default-participant);
  border-top-width: 0;
  border-right-width: 10px;
  box-sizing: border-box;
  padding: 5px 6px;

  &:not(.participant--winner) {
    &:first-child {
      border-top-width: var(--width-border-participant);
      border-bottom-width: 0;
      height: var(--height-participant);
    }
  }

  &.participant--winner {
    border: var(--width-border-participant) solid var(--color-winner);
    border-right-width: 10px;
    height: var(--height-participant);
    &:last-child {
      top: calc(-1 * var(--width-border-participant));
    }
  }

  &.participant--without-winner {
    &:first-child, &:last-child {
      border-width: var(--width-border-participant);
      border-right-width: 10px;
      height: var(--height-participant);
    }
    &:last-child {
      top: -2px;
    }
  }

  .participant__name {
    color: var(--color-font-participant-name);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
  }

  .participant__desc {
    color: var(--color-font-participant-desc);
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.23px;
    text-transform: capitalize;
  }

  .participant__points {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translate(0, -50%);
    color: var(--color-font-participant-points);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
  }
}
