<ng-container>
  <div class="participant__name">{{player.player}}</div>
  <div class="participant__desc">{{player.desc}}</div>
  <span class="participant__points">{{player.points}}</span>
</ng-container>
