<ng-container>
  <form action="#" [formGroup]="formGroup">
    <label for="brackets" class="brackets-label">Brackets:</label>
    <select id="brackets" name="brackets" class="form-control" formControlName="brackets">
      <option *ngFor="let item of examplesData | keyvalue" [ngValue]="item.key">{{item.key}}</option>
    </select>
  </form>
</ng-container>
