:root {
  --color-background: black;
  --color-winner: #FF6000;
  --color-border-default-participant: #707070;
  --color-font-participant-name: #ffffff;
  --color-font-participant-desc: #9F9F9F;
  --color-font-participant-points: #ffffff;
  --color-participant-background: #2B2B2B;
  --height-participant: 36px;
  --width-border-participant: 2px;
}

@font-face {
  font-family: sf-ui;
  src: url("./assets/fonts/SF-UI-Display-Regular.otf") format("opentype");
}

* {
  font-family: "sf-ui", sans-serif;
}

body {
  display: flex;
  background-color: var(--color-background);

  app-root {
    width: 100%;
  }
}
