<ng-container class="players-container">
	<div class="matchups">
		<div class="matchups__matchup" *ngFor="let matchup of players">
			<div class="participants">
				<participant *ngIf="matchup.upperPart" [player]="matchup.upperPart" [winner]="matchup.winner" key="upper"></participant>
				<participant *ngIf="matchup.lowerPart" [player]="matchup.lowerPart" [winner]="matchup.winner" key="lower"></participant>
			</div>
		</div>
	</div>
	<div class="connector"></div>
</ng-container>
