.connector {
  border: 2px solid var(--color-winner);
  border-left: 0;
  margin: calc(var(--height-participant) - var(--width-border-participant)) 0 var(--height-participant);
  width: 20px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-right: 18px;

  &:after {
    position: relative;
    content: "";
    width: 20px;
    height: 2px;
    top: 50%;
    transform: translate(20px, -50%);
    background-color: var(--color-winner);
  }
}

:host {
   display: flex;
   margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.quarterfinals {
    .matchups__matchup {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &.semifinals {
    players-container {
      margin: 0;
    }

    .matchups__matchup {
      &:first-child {
        margin-bottom: 112px;
      }
    }
  }

  &.finals {
    players-container {
      margin: 0;
    }

    .connector {
      width: 100px;
      height: 2px;
      border: 0;
      background-color: var(--color-winner);
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }

  &.players-container--matchups-none {
    .matchups {
      display: none;      
    }
  }
}
