<section class="bracket">

	<!-- quarterfinals section -->
	<section *ngIf="bracket.quarterfinals && bracket.quarterfinals.length">
			<players-container *ngFor="let players of bracket.quarterfinals" [players]="players" type="quarterfinals"></players-container>
			<div class="additional-space-players" *ngIf="bracket.quarterfinals.length !== 2">&nbsp;</div>
  </section>

	<!-- semifinals section -->
	<section>
		<players-container [players]="bracket.semifinals" type="semifinals"></players-container>
  </section>

	<!-- finals section -->
	<section>
		<players-container [players]="bracket.finals" type="finals"></players-container>
  </section>

	<!-- finalist section -->
	<section *ngIf="bracket.finalist">
		<div class="winner">
			<div class="win-badge-icon" aria-label="SVG icon" [inlineSVG]="'/assets/svg/win_badge.svg'"></div>
			<participant [player]="bracket.finalist" winner="force"></participant>
		</div>
  </section>

</section>
