:host {
  display: flex;
  justify-content: center;

  .additional-space-players {
    display: flex;
    height: calc(var(--height-participant) * 4 - 16px );
  }
}

.matchup {
  &:last-child {
    margin-bottom: 0;
  }
}

.bracket {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .winner {
    position: relative;

    .win-badge-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, calc(-100% - 26px));
    }
  }
}
